# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
boto3
botocore
brotli-python
bzip2
ca-certificates
jmespath
libcxx
libffi
ncurses
openssl
pip
psycopg
pysocks
python
python-dateutil
python-dotenv
readline
s3transfer
setuptools
six
sqlite
tk
tzdata
urllib3
wheel
xz
zlib
